<ul  [ngSwitch]="loggedUser()" class="navbar-nav">
    <li *ngSwitchCase="false" class="nav-item" style="padding-right: 30px;">
        <a class="btn btn-primary" [routerLink]="['/signin/login']">Login</a>
    </li>
    <!--<li *ngSwitchCase="false" class="nav-item">
        <a class="btn btn-success" [routerLink]="['/signin/register']"></a>
    </li>-->
    <li *ngSwitchCase="true" class="nav-item">
        <a class="nav-link text-dark" id="userGreetings" href="javascript:void(0)">{{ email }}</a>
    </li>
    <li *ngSwitchCase="true" class="nav-item">
        <a class="nav-link text-dark" href="javascript:void(0)" (click)="logout()">Logout <span class="fas fa-sign-out-alt"></span></a>
    </li>
    
</ul>